/*
 * Kelson Sans
 */
@font-face
	font-family 'Kelson Sans'
	src url('../../static/assets/fonts/kelson/Kelson_Sans_Light.otf')
	font-weight 200
	font-style normal

@font-face
	font-family 'Kelson Sans'
	src url('../../static/assets/fonts/kelson/Kelson_Sans_Regular.otf')
	font-weight normal
	font-style normal
