/*
 * Colors
 */
$black = #1A1A1A
$dark-grey = #242424
$grey = #606060
$white = #FFFFFF
$blue = #3333FF

/*
 * Easing
 */
$ease-out-expo = cubic-bezier(.25, 1, .15, 1)
$ease-out = cubic-bezier(0, 0, .6, 1)
$ease-in-out = cubic-bezier(.4, 0, .6, 1)

/**
 * Breakpoints
 **/
breakpointLaptop = 1224px
breakpointTablet = 1024px
breakpointMobile = 612px

/**
 * Media queries
 **/
mediaQueryLaptop = '(max-width ' + breakpointLaptop + ')'
mediaQueryTablet = '(max-width ' + breakpointTablet + ')'
mediaQueryMobile = '(max-width ' + breakpointMobile + ')'
